.vs/
Swartz.Caching/obj/
Swartz.Email/obj/
Swartz.EntityFramework/obj/
Swartz.Framework/obj/
Swartz.Memcached/obj/
Swartz.Redis/obj/
Swartz.Users/obj/
Swartz.WarmupStarter/obj/
Swartz.WarmupStarter/Swartz.WarmupStarter.csproj.user
packages/
Swartz.Framework/bin/
debug.log
Swartz.Caching/bin/
Swartz.Email/bin/
Swartz.Memcached/bin/
Swartz.OutputCache/bin/
Swartz.OutputCache/obj/
Swartz.Redis/bin/
Swartz.Users/bin/
Swartz.WarmupStarter/bin/
